@charset "utf-8";
body .basicinfo {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

/* ヘッダー */
header figure img {
	height: auto;
	width: 400px;
	padding-left: 15px;
	padding-top: 15px;
}

/* トピック関係 */
.topic h2 {
	font-size: large;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #922e41;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #922e41;
	padding-left: 10px;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
	

/* メイン記事関係*/
.main_article .story-body h2 {
	font-size: large;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #922e41;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #922e41;
	padding-left: 10px;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	}
	

/* 通販関係の色々 */
.topic .topic-story .topic-story-img-wrap {
	flex-direction: row;
	flex-wrap: wrap;
}

.topic-story .topic-story-img-wrap .wrapped-item {
	flex:0 0 33.3%;
}